#################### emacs ####################

# emacs' auto save list buffer
emacs/auto-save-list/

# elpa package folder
emacs/elpa/

# magit transient folder
emacs/transient/

# emacs temp files
emacs/#*
emacs/*~
emacs/bookmarks

# auto-complete temp files
emacs/*.dat

# org export files
emacs/*.tex
emacs/*.pdf

# eshell
emacs/eshell/

# smex history
emacs/smex-items