# emacs' auto save list buffer
auto-save-list/

# elpa package folder
elpa/

# magit transient folder
transient/

# emacs temp files
/#*
*~
bookmarks

# auto-complete temp files
*.dat

# org export files
*.tex
*.pdf

# eshell
eshell/

# smex history
smex-items